
.body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.title{
    text-align: center;
    font-size: 50px;
}

/* Main */

.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.container {
    display: grid;
    height: 500px;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .box-element {
    border: 1px solid black;
  }

  button{
    padding: 10px 20px;
    border: 1px solid darkgray;
    border-radius: 3px;
  }