.container {
    display: grid;
    height: 500px;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .box-element {
    height: 25px;
    width: 25px;
    margin: 0;
    padding: 0;
  }